USE [Sistema_Integral_Exgadet]
GO
/****** Object:  Table [dbo].[C900_TAREAS]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C900_TAREAS](
	[CCONT900] [nvarchar](10) NOT NULL,
	[TIPO_TRAB900] [nvarchar](10) NOT NULL,
	[CMOTIVO900] [nvarchar](10) NULL,
	[NGNF900] [nvarchar](18) NOT NULL,
	[FE_EMISION900] [date] NOT NULL,
	[NPARTE900] [nvarchar](25) NOT NULL,
	[ORGTRAB900] [nvarchar](2) NULL,
	[ACTIV900] [nvarchar](30) NULL,
	[FUGA_AVISO900] [nvarchar](20) NULL,
	[POLIZA900] [nvarchar](12) NULL,
	[NOC900] [nvarchar](5) NULL,
	[NOT900] [nvarchar](5) NULL,
	[RENTREGA900] [nvarchar](30) NULL,
	[ORIGEN900] [nvarchar](50) NULL,
	[PROG_REPRO900] [nvarchar](15) NULL,
	[CONTRATISTA900] [nvarchar](50) NULL,
	[INTERNA900] [nvarchar](8) NULL,
	[GRUPO900] [nvarchar](5) NULL,
	[SUCURSAL900] [nvarchar](8) NULL,
	[APE_NOM900] [nvarchar](100) NULL,
	[TELEFONO900] [nvarchar](100) NULL,
	[CPART900] [nvarchar](3) NULL,
	[CLOCA900] [nvarchar](10) NULL,
	[CODCALLE900] [nvarchar](10) NULL,
	[NOMCALLE900] [nvarchar](150) NULL,
	[NPUERTA900] [nvarchar](20) NULL,
	[ESC900] [nvarchar](10) NULL,
	[PISO900] [nvarchar](10) NULL,
	[PUERTA900] [nvarchar](20) NULL,
	[CP900] [nvarchar](10) NULL,
	[DIRECCION900] [nvarchar](50) NULL,
	[LOCALIDAD900] [nvarchar](100) NULL,
	[PARTIDO900] [nvarchar](100) NULL,
	[ENTRE900] [nvarchar](100) NULL,
	[SITUACION900] [nvarchar](50) NULL,
	[CONS900] [nvarchar](50) NULL,
	[CIIUU900] [nvarchar](60) NULL,
	[TA900] [nvarchar](10) NULL,
	[T_CLIENTE900] [nvarchar](50) NULL,
	[SIT_DEUDA900] [nvarchar](50) NULL,
	[NMEDIDOR900] [nvarchar](12) NULL,
	[CAPACIDAD900] [nvarchar](30) NULL,
	[MARCA900] [nvarchar](30) NULL,
	[TIPOMED900] [nvarchar](30) NULL,
	[LECTURA900] [nvarchar](30) NULL,
	[TOTDEUDA900] [nvarchar](13) NULL,
	[PRESION900] [nvarchar](10) NULL,
	[COMPLEMENTO900] [nvarchar](255) NULL,
	[COMPLEMENTO2_900] [nvarchar](255) NULL,
	[COMPLEMENTO3_900] [nvarchar](255) NULL,
	[FREALIZADO900] [date] NULL,
	[FCIVIL900] [date] NULL,
	[FASIGNADO900] [datetime] NULL,
	[FCOMU900] [datetime] NULL,
	[COPERARIO900] [nvarchar](10) NULL,
	[FSISA900] [datetime] NULL,
	[FREMITO900] [datetime] NULL,
	[NREMITO900] [nvarchar](20) NULL,
	[AUSENTE900] [int] NULL,
	[FANULADO900] [date] NULL,
	[RECLAMO900] [int] NULL,
	[PRIORIDAD900] [int] NULL,
	[NRECORRIDO900] [nvarchar](30) NULL,
	[FVTO900] [date] NULL,
	[AUDITADO900] [date] NULL,
	[NREMITOV900] [nvarchar](20) NULL,
	[FVERIF900] [datetime] NULL,
	[FCONF900] [datetime] NULL,
	[MATRI900] [nvarchar](10) NULL,
	[ID_LOTE900] [nvarchar](20) NULL,
	[AVISOR900] [int] NULL,
	[FCOOR900] [date] NULL,
 CONSTRAINT [PK_C900_TAREAS] PRIMARY KEY CLUSTERED 
(
	[CCONT900] ASC,
	[TIPO_TRAB900] ASC,
	[NGNF900] ASC,
	[FE_EMISION900] ASC,
	[NPARTE900] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C901_UTILIZACION]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C901_UTILIZACION](
	[CCONT901] [nvarchar](10) NOT NULL,
	[TIPO_TRAB901] [nvarchar](10) NOT NULL,
	[FE_EMISION901] [date] NOT NULL,
	[PARTE901] [nvarchar](25) NOT NULL,
	[NGNF901] [nvarchar](18) NOT NULL,
	[CMOTIVO901] [nvarchar](10) NULL,
	[CTAREA901] [nvarchar](10) NOT NULL,
	[FREALIZADO901] [datetime] NULL,
	[COPERARIO901] [nvarchar](10) NULL,
	[OBSERV901] [nvarchar](250) NULL,
	[TCIERRE901] [nvarchar](1) NULL,
	[REALIZO901] [nvarchar](10) NULL,
	[FIRMO901] [nvarchar](2) NULL,
	[ACLARACION901] [nvarchar](100) NULL,
	[DNI901] [nvarchar](15) NULL,
	[MEDRETIRADO901] [nvarchar](20) NULL,
	[ESTADORET901] [nvarchar](10) NULL,
	[MEDCOLOCA901] [nvarchar](20) NULL,
	[ESTADOCOLA901] [nvarchar](10) NULL,
	[USERASIG901] [nvarchar](10) NULL,
	[FASIG901] [datetime] NULL,
	[FCOMUNICO901] [datetime] NULL,
	[RASIG901] [nvarchar](12) NULL,
	[VMED901] [int] NULL,
	[VPAPEL901] [int] NULL,
	[FOTO901] [int] NULL,
	[TPAPEL901] [int] NULL,
	[RSCANER901] [nvarchar](12) NULL,
	[USRSCAN901] [nvarchar](12) NULL,
	[FPAPEL901] [date] NULL,
	[CHABIT901] [int] NULL,
	[INTESC901] [nvarchar](5) NULL,
	[DOMINC901] [nvarchar](2) NULL,
	[MEDDIS901] [nvarchar](2) NULL,
 CONSTRAINT [PK_C901_UTILIZACION] PRIMARY KEY CLUSTERED 
(
	[CCONT901] ASC,
	[TIPO_TRAB901] ASC,
	[FE_EMISION901] ASC,
	[PARTE901] ASC,
	[NGNF901] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C901A_UTILIZACION_ADICIONALES]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C901A_UTILIZACION_ADICIONALES](
	[CCONT901A] [nvarchar](10) NOT NULL,
	[TIPO_TRAB901A] [nvarchar](10) NOT NULL,
	[FE_EMISION901A] [date] NOT NULL,
	[PARTE901A] [nvarchar](25) NOT NULL,
	[NGNF901A] [nvarchar](18) NOT NULL,
	[ACCAD901A] [nvarchar](10) NOT NULL,
	[FR901A] [datetime] NULL,
 CONSTRAINT [PK_C901A_UTILIZACION_ADICIONALES] PRIMARY KEY CLUSTERED 
(
	[CCONT901A] ASC,
	[TIPO_TRAB901A] ASC,
	[FE_EMISION901A] ASC,
	[PARTE901A] ASC,
	[NGNF901A] ASC,
	[ACCAD901A] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C902_OCOR]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C902_OCOR](
	[CCONT902] [nvarchar](10) NOT NULL,
	[TIPO_TRAB902] [nvarchar](10) NOT NULL,
	[FE_EMISION902] [date] NOT NULL,
	[PARTE902] [nvarchar](25) NOT NULL,
	[CTAREA902] [nvarchar](10) NOT NULL,
	[NGNF902] [nvarchar](18) NOT NULL,
	[CMOTIVO902] [nvarchar](10) NULL,
	[FREALIZADO902] [datetime] NULL,
	[LECCIERRE902] [nvarchar](10) NULL,
	[OBSERV902] [nvarchar](250) NULL,
	[COPERARIO902] [nvarchar](10) NULL,
	[SUCCOMU902] [int] NULL,
	[CGNF902] [nvarchar](5) NULL,
	[TCIERRE902] [nvarchar](1) NULL,
	[FOTO902] [int] NULL,
 CONSTRAINT [PK_C902_OCOR] PRIMARY KEY CLUSTERED 
(
	[CCONT902] ASC,
	[TIPO_TRAB902] ASC,
	[FE_EMISION902] ASC,
	[PARTE902] ASC,
	[CTAREA902] ASC,
	[NGNF902] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C902D_OCOR]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C902D_OCOR](
	[NPOLIZA902D] [nvarchar](25) NOT NULL,
	[FGENERADO902D] [date] NOT NULL,
	[FVISITA902D] [date] NOT NULL,
	[NOREALIZADO902D] [nvarchar](5) NULL,
	[SITCLIENTE902D] [nvarchar](5) NULL,
	[ESTSUMINI902D] [nvarchar](5) NULL,
	[CV902D] [nvarchar](2) NULL,
	[SITNICHO902D] [nvarchar](5) NULL,
	[ACREALIZADA902D] [nvarchar](5) NULL,
	[ESTADOMED902D] [nvarchar](10) NULL,
	[INTERES902D] [nvarchar](2) NULL,
	[TELEFONO902D] [nvarchar](100) NULL,
	[OPERARIO902D] [nvarchar](20) NULL,
 CONSTRAINT [PK_C902D_OCOR] PRIMARY KEY CLUSTERED 
(
	[NPOLIZA902D] ASC,
	[FGENERADO902D] ASC,
	[FVISITA902D] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C903_CRC]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C903_CRC](
	[CCONT903] [nvarchar](10) NOT NULL,
	[FE_EMISION903] [date] NOT NULL,
	[CTAREA903] [nvarchar](10) NOT NULL,
	[NGNF903] [nvarchar](18) NOT NULL,
	[NTAREA903] [nvarchar](25) NOT NULL,
	[CMOTIVO903] [nvarchar](10) NULL,
	[POLIZA903] [nvarchar](15) NULL,
	[FREALIZADO903] [date] NULL,
	[HORA903] [nvarchar](30) NULL,
	[NSGC903] [nvarchar](20) NULL,
	[MEDIDOR903] [nvarchar](18) NULL,
	[LECTURA903] [nvarchar](15) NULL,
	[NMEDIDOR903] [nvarchar](20) NULL,
	[CAPACIDAD903] [nvarchar](5) NULL,
	[ESTADO903] [nvarchar](15) NULL,
	[TANOMALIA903] [nvarchar](5) NULL,
	[COPERA903] [nvarchar](10) NULL,
	[OBS903] [nvarchar](255) NULL,
	[CERT903] [nvarchar](10) NULL,
	[NOTA903] [nvarchar](3) NULL,
	[NARCHIVO903] [nvarchar](12) NULL,
	[FARCHIVO903] [datetime] NULL,
	[USRARC903] [nvarchar](10) NULL,
	[SISA_ESTADO903] [int] NULL,
	[PROCESOSISA903] [nvarchar](40) NULL,
	[FCOLABORA903] [datetime] NULL,
	[ACLARACION903] [nvarchar](50) NULL,
	[DNI903] [nvarchar](13) NULL,
	[USRVERIF903] [nvarchar](20) NULL,
	[FVERIF903] [date] NULL,
	[VMED903] [int] NULL,
	[VPAP903] [int] NULL,
	[FOTO903] [int] NULL,
 CONSTRAINT [PK_C903_CRC] PRIMARY KEY CLUSTERED 
(
	[CCONT903] ASC,
	[FE_EMISION903] ASC,
	[CTAREA903] ASC,
	[NGNF903] ASC,
	[NTAREA903] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C904_ACOMETIDA]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C904_ACOMETIDA](
	[CCONT904] [nvarchar](10) NOT NULL,
	[TIPO_TRAB904] [nvarchar](10) NOT NULL,
	[FE_EMISION904] [date] NOT NULL,
	[NGNF904] [nvarchar](18) NOT NULL,
	[NPARTE904] [nvarchar](25) NOT NULL,
	[CMOTIVO904] [nvarchar](10) NULL,
	[REALIZO904] [nvarchar](5) NULL,
	[FREALIZADO904] [date] NULL,
	[CODOP904] [nvarchar](20) NULL,
	[DIMCM904] [nvarchar](10) NULL,
	[MATCM904] [nvarchar](10) NULL,
	[DIMACO904] [nvarchar](10) NULL,
	[MATACO904] [nvarchar](10) NULL,
	[VEREDA904] [nvarchar](2) NULL,
	[OBS904] [nvarchar](200) NULL,
	[FOTO904] [int] NULL,
 CONSTRAINT [PK_C904_ACOMETIDA] PRIMARY KEY CLUSTERED 
(
	[CCONT904] ASC,
	[TIPO_TRAB904] ASC,
	[FE_EMISION904] ASC,
	[NGNF904] ASC,
	[NPARTE904] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C905_MANTENIMIENTO]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C905_MANTENIMIENTO](
	[CCONT905] [nvarchar](10) NOT NULL,
	[FE_EMISION905] [date] NOT NULL,
	[CTAREA905] [nvarchar](10) NOT NULL,
	[NGNF905] [nvarchar](18) NOT NULL,
	[NTAREA905] [nvarchar](25) NOT NULL,
	[CMOTIVO905] [nvarchar](10) NULL,
	[ACTIDAD905] [nvarchar](15) NULL,
	[FREALIZADO905] [date] NULL,
	[HORAI905] [time](7) NULL,
	[HORAF905] [time](7) NULL,
	[FCIVIL905] [date] NULL,
	[MAT_CM905] [nvarchar](10) NULL,
	[DIM_CM905] [nvarchar](10) NULL,
	[ESPCM905] [nvarchar](10) NULL,
	[EST_REV905] [nvarchar](30) NULL,
	[MAT_SER905] [nvarchar](10) NULL,
	[DIM_SER905] [nvarchar](10) NULL,
	[PSC905] [nvarchar](10) NULL,
	[VEREDA905] [nvarchar](3) NULL,
	[M2_ROT905] [float] NULL,
	[M2_REP905] [float] NULL,
	[OBS905] [nvarchar](100) NULL,
	[OBSCIVI905] [nvarchar](100) NULL,
	[PRESION905] [nvarchar](10) NULL,
	[REMVEREDA905] [nvarchar](20) NULL,
	[FREMITVER905] [date] NULL,
	[VEREDISTA905] [nvarchar](20) NULL,
	[NCERTIFICADO905] [nvarchar](20) NULL,
	[FCERTIFICADO905] [date] NULL,
	[FMECA_GNF905] [date] NULL,
	[FCIVIL_GNF905] [date] NULL,
	[FOTO905] [int] NULL,
 CONSTRAINT [PK_C905_MANTENIMIENTO] PRIMARY KEY CLUSTERED 
(
	[CCONT905] ASC,
	[FE_EMISION905] ASC,
	[CTAREA905] ASC,
	[NGNF905] ASC,
	[NTAREA905] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C906_AUDITORIAS]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C906_AUDITORIAS](
	[CCONT906] [nvarchar](10) NOT NULL,
	[TIPO_TRAB906] [nvarchar](10) NOT NULL,
	[FE_EMISION906] [date] NOT NULL,
	[PARTE906] [nvarchar](25) NOT NULL,
	[NGNF906] [nvarchar](18) NOT NULL,
	[CMOTIVO906] [nvarchar](10) NULL,
	[CTAREA906] [nvarchar](10) NOT NULL,
	[FREALIZADO906] [datetime] NULL,
	[COPERARIO906] [nvarchar](10) NULL,
	[OBSERV906] [nvarchar](250) NULL,
	[TCIERRE906] [nvarchar](1) NULL,
	[REALIZO906] [nvarchar](10) NULL,
	[FIRMO906] [nvarchar](2) NULL,
	[ACLARACION906] [nvarchar](100) NULL,
	[DNI906] [nvarchar](15) NULL,
	[MEDRETIRADO906] [nvarchar](20) NULL,
	[ESTADORET906] [nvarchar](10) NULL,
	[MEDCOLOCA906] [nvarchar](20) NULL,
	[ESTADOCOLA906] [nvarchar](10) NULL,
	[USERASIG906] [nvarchar](10) NULL,
	[FASIG906] [datetime] NULL,
	[FCOMUNICO906] [datetime] NULL,
	[RASIG906] [nvarchar](12) NULL,
	[VMED906] [int] NULL,
	[VPAPEL906] [int] NULL,
	[FOTO906] [int] NULL,
	[TPAPEL906] [int] NULL,
	[RSCANER906] [nvarchar](12) NULL,
	[USRSCAN906] [nvarchar](12) NULL,
	[FPAPEL906] [date] NULL,
 CONSTRAINT [PK_C906_AUDITORIAS] PRIMARY KEY CLUSTERED 
(
	[CCONT906] ASC,
	[TIPO_TRAB906] ASC,
	[FE_EMISION906] ASC,
	[PARTE906] ASC,
	[NGNF906] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C906A_AUDITORIAS_ADICIONALES]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C906A_AUDITORIAS_ADICIONALES](
	[CCONT906A] [nvarchar](10) NOT NULL,
	[TIPO_TRAB906A] [nvarchar](10) NOT NULL,
	[FE_EMISION906A] [date] NOT NULL,
	[PARTE906A] [nvarchar](25) NOT NULL,
	[NGNF906A] [nvarchar](18) NOT NULL,
	[ACCAD906A] [nvarchar](10) NOT NULL,
	[FR906A] [datetime] NULL,
 CONSTRAINT [PK_C906A_AUDITORIAS_ADICIONALES] PRIMARY KEY CLUSTERED 
(
	[CCONT906A] ASC,
	[TIPO_TRAB906A] ASC,
	[FE_EMISION906A] ASC,
	[PARTE906A] ASC,
	[NGNF906A] ASC,
	[ACCAD906A] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M001_USUARIO]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M001_USUARIO](
	[NDNI001] [nvarchar](10) NOT NULL,
	[IDUSER001] [nvarchar](50) NOT NULL,
	[NOM001] [nvarchar](100) NOT NULL,
	[APE001] [nvarchar](100) NOT NULL,
	[PASS001] [nvarchar](50) NOT NULL,
	[NIVEL001] [int] NOT NULL,
	[ENVIA001] [int] NOT NULL,
	[EMAIL001] [nvarchar](100) NOT NULL,
	[RECIBE001] [int] NULL,
	[DEPOSITO001] [nvarchar](10) NULL,
	[FALTA001] [datetime] NOT NULL,
	[FMODI001] [datetime] NULL,
	[FBAJA001] [datetime] NULL,
	[USRA001] [nvarchar](10) NOT NULL,
	[USRSGC] [nvarchar](50) NULL,
	[AUX001] [nvarchar](50) NULL,
 CONSTRAINT [PK_M001-USUARIO] PRIMARY KEY CLUSTERED 
(
	[NDNI001] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M002_OPERARIO]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M002_OPERARIO](
	[NDNI002] [nvarchar](10) NOT NULL,
	[NOM002] [nvarchar](100) NOT NULL,
	[APE002] [nvarchar](100) NOT NULL,
	[JEFE002] [int] NULL,
	[FALTA002] [datetime] NOT NULL,
	[UREA002] [nvarchar](10) NOT NULL,
	[FMODI002] [datetime] NULL,
	[FBAJA002] [datetime] NULL,
	[USERB002] [nvarchar](10) NULL,
	[EMAIL002] [nvarchar](100) NULL,
	[TELEFONO002] [nvarchar](50) NULL,
	[LEGAJO002] [nvarchar](10) NULL,
	[FOTO002] [varbinary](max) NULL,
	[EMPRESA002] [nvarchar](10) NULL,
	[SINDICATO002] [nvarchar](10) NULL,
	[BLANQUEO002] [int] NULL,
	[ACCWEB002] [int] NULL,
	[PASSWEB002] [nvarchar](15) NULL,
	[CARGO002] [nvarchar](200) NULL,
	[SUPERVISOR002] [nvarchar](10) NULL,
	[FIRMA002] [varbinary](max) NULL,
	[GRUPOSISA002] [int] NULL,
 CONSTRAINT [PK_M002-OPERARIO] PRIMARY KEY CLUSTERED 
(
	[NDNI002] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M003_CONTRATO]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M003_CONTRATO](
	[NCONT003] [nvarchar](10) NOT NULL,
	[DESC003] [nvarchar](100) NULL,
	[FALTA003] [datetime] NULL,
	[FBAJA003] [datetime] NULL,
	[TABLA003] [nvarchar](50) NULL,
	[SECTOR003] [int] NULL,
 CONSTRAINT [PK_M003-CONTRATO] PRIMARY KEY CLUSTERED 
(
	[NCONT003] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M004_MOTIVOS]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M004_MOTIVOS](
	[CMOTIVO004] [nvarchar](10) NOT NULL,
	[CCONT004] [nvarchar](10) NOT NULL,
	[DESC004] [nvarchar](100) NOT NULL,
	[DESC_CORTA004] [nvarchar](50) NULL,
	[PLAZO004] [float] NOT NULL,
	[PRIORI004] [float] NOT NULL,
	[TIPO004] [int] NOT NULL,
	[COPE004] [int] NOT NULL,
	[VISITA004] [int] NULL,
	[FORM004] [nvarchar](10) NULL,
	[SCONT004] [nvarchar](10) NULL,
	[VERIF004] [int] NULL,
	[FUGA004] [int] NULL,
	[TEXTO004] [nvarchar](30) NULL,
	[RMED004] [int] NULL,
	[SEIMP004] [int] NULL,
 CONSTRAINT [PK_M004-MOTIVOS] PRIMARY KEY CLUSTERED 
(
	[CMOTIVO004] ASC,
	[CCONT004] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M005_COD_TAREA]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M005_COD_TAREA](
	[CTAREA005] [nvarchar](10) NOT NULL,
	[CCONT005] [nvarchar](10) NOT NULL,
	[DESC005] [nvarchar](100) NOT NULL,
	[ACCION005] [int] NOT NULL,
	[CVISITA005] [int] NULL,
	[FALTA005] [datetime] NOT NULL,
	[USERA005] [nvarchar](10) NOT NULL,
	[FBAJA005] [datetime] NULL,
	[USERB005] [nvarchar](10) NULL,
	[RESULTADO005] [nvarchar](1) NULL,
	[CODSISA005] [nvarchar](15) NULL,
	[NATU005] [nvarchar](10) NULL,
	[RMED005] [int] NULL,
 CONSTRAINT [PK_M005-COD_TAREA] PRIMARY KEY CLUSTERED 
(
	[CTAREA005] ASC,
	[CCONT005] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M006_TAREA_CRC]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M006_TAREA_CRC](
	[CTAREA006] [nvarchar](10) NOT NULL,
	[DESC006] [nvarchar](100) NOT NULL,
	[ACCION006] [int] NOT NULL,
	[CVISITA006] [int] NULL,
	[FALTA006] [datetime] NOT NULL,
	[USERA006] [nvarchar](10) NOT NULL,
	[FBAJA006] [datetime] NULL,
	[USERB006] [nvarchar](10) NULL,
	[RESULTADO006] [nvarchar](1) NULL,
	[MEDIDOR006] [int] NULL,
	[TIPO006] [nvarchar](10) NULL,
	[NSGC006] [int] NULL,
	[NOTA006] [int] NULL,
 CONSTRAINT [PK_M006_TAREA_CRC] PRIMARY KEY CLUSTERED 
(
	[CTAREA006] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M007_SUB_CONTRATISTA]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M007_SUB_CONTRATISTA](
	[CUIT007] [nvarchar](20) NOT NULL,
	[RAZON007] [nvarchar](100) NULL,
	[DIRECCION007] [nvarchar](100) NULL,
	[EMAIL007] [nvarchar](100) NULL,
	[CONTACTO007] [nvarchar](50) NULL,
	[TELEFONO007] [nvarchar](50) NULL,
 CONSTRAINT [PK_M007_SUB_CONTRATISTA] PRIMARY KEY CLUSTERED 
(
	[CUIT007] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M008_MOTIVOS_AUDITORIAS]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M008_MOTIVOS_AUDITORIAS](
	[CMOTIVO008] [nvarchar](10) NOT NULL,
	[CCONT008] [nvarchar](10) NOT NULL,
	[NMOTIVO008] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_M008_MOTIVOS_AUDITORIAS] PRIMARY KEY CLUSTERED 
(
	[CMOTIVO008] ASC,
	[CCONT008] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mail]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mail](
	[id] [int] NOT NULL,
	[email] [nvarchar](50) NULL,
	[passs] [nvarchar](50) NULL,
	[smtp] [nvarchar](50) NULL,
	[puerto] [int] NULL,
	[descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_mail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P801_TABLA_PARAMETRO]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P801_TABLA_PARAMETRO](
	[CODTABLA801] [int] NOT NULL,
	[DESC801] [nvarchar](50) NULL,
	[OBS801] [nvarchar](100) NULL,
 CONSTRAINT [PK_P801-TABLA_PARAMETRO] PRIMARY KEY CLUSTERED 
(
	[CODTABLA801] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P802_PARAMETROS]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P802_PARAMETROS](
	[CTABLA802] [int] NOT NULL,
	[CPARA802] [nvarchar](10) NOT NULL,
	[CODALT802] [nvarchar](5) NULL,
	[DESC802] [nvarchar](100) NOT NULL,
	[OBS802] [nvarchar](100) NULL,
	[ITEM_802] [nvarchar](50) NULL,
	[ACTIVO802] [int] NULL,
 CONSTRAINT [PK_P802-PARAMETROS] PRIMARY KEY CLUSTERED 
(
	[CTABLA802] ASC,
	[CPARA802] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P803_ITEM_CERTIFICACION]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P803_ITEM_CERTIFICACION](
	[CCONT803] [nvarchar](3) NOT NULL,
	[ITEM803] [nvarchar](10) NOT NULL,
	[FAMILIA803] [nvarchar](10) NULL,
	[OREN803] [int] NULL,
	[DESC803] [nvarchar](250) NULL,
	[TIPO803] [nvarchar](10) NULL,
	[UNIDAD803] [nvarchar](5) NULL,
	[MEDIDOR803] [int] NULL,
	[ANCHO803] [int] NULL,
	[LARGO803] [int] NULL,
	[PROF803] [int] NULL,
	[FALTA803] [date] NULL,
	[FBAJA803] [date] NULL,
 CONSTRAINT [PK_P803_ITEM_CERTIFICACION] PRIMARY KEY CLUSTERED 
(
	[CCONT803] ASC,
	[ITEM803] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P804_LOCALIZACION]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P804_LOCALIZACION](
	[CLASE804] [nvarchar](6) NOT NULL,
	[TIPO804] [nvarchar](6) NOT NULL,
	[CLOCA804] [nvarchar](6) NOT NULL,
	[DESLOCA804] [nvarchar](100) NULL,
 CONSTRAINT [PK_P804_LOCALIZACION] PRIMARY KEY CLUSTERED 
(
	[CLASE804] ASC,
	[TIPO804] ASC,
	[CLOCA804] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P805_COMPLEMENTO]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P805_COMPLEMENTO](
	[LOCA805] [nvarchar](6) NOT NULL,
	[CCOMP805] [nvarchar](6) NOT NULL,
	[DESC805] [nvarchar](100) NULL,
 CONSTRAINT [PK_P805_COMPLEMENTO] PRIMARY KEY CLUSTERED 
(
	[LOCA805] ASC,
	[CCOMP805] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P806_TIPO_VEREDA]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P806_TIPO_VEREDA](
	[CTIPO806] [nvarchar](10) NOT NULL,
	[DESC806] [nvarchar](100) NULL,
	[BALDOSA806] [int] NULL,
	[ALTO806] [float] NULL,
	[LARGO806] [float] NULL,
	[DIFIC806] [int] NULL,
 CONSTRAINT [PK_P806_TIPO_VEREDA] PRIMARY KEY CLUSTERED 
(
	[CTIPO806] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partesitos]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partesitos](
	[parte] [nchar](20) NOT NULL,
 CONSTRAINT [PK_partesitos] PRIMARY KEY CLUSTERED 
(
	[parte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T101_TAREA_REALIZADA_OT]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T101_TAREA_REALIZADA_OT](
	[CCONT101] [nvarchar](10) NOT NULL,
	[MORIGINAL101] [nvarchar](10) NOT NULL,
	[MINTERNO101] [nvarchar](10) NOT NULL,
	[FREALIZADO101] [date] NOT NULL,
	[CTAREA101] [nvarchar](10) NOT NULL,
	[NTRABAJO101] [nvarchar](25) NOT NULL,
	[FALTA101] [date] NOT NULL,
	[COPE101] [nvarchar](10) NOT NULL,
	[NGNF101] [nvarchar](18) NOT NULL,
	[CANT101] [decimal](18, 0) NULL,
 CONSTRAINT [PK_T101_TAREA_REALIZADA_OT] PRIMARY KEY CLUSTERED 
(
	[CCONT101] ASC,
	[MORIGINAL101] ASC,
	[MINTERNO101] ASC,
	[FREALIZADO101] ASC,
	[CTAREA101] ASC,
	[NTRABAJO101] ASC,
	[FALTA101] ASC,
	[COPE101] ASC,
	[NGNF101] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T102_PUNTO_MOTIVO]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T102_PUNTO_MOTIVO](
	[CCONT102] [nvarchar](10) NOT NULL,
	[CMOTIVO102] [nvarchar](10) NOT NULL,
	[PUNTO102] [float] NULL,
 CONSTRAINT [PK_T102_PUNTO_MOTIVO] PRIMARY KEY CLUSTERED 
(
	[CCONT102] ASC,
	[CMOTIVO102] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T103_PUNTO_TAREA]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T103_PUNTO_TAREA](
	[CTAREA103] [nvarchar](10) NOT NULL,
	[CMOTIVO103] [nvarchar](10) NOT NULL,
	[CCONT103] [nvarchar](10) NOT NULL,
	[FALTA103] [datetime] NOT NULL,
	[USERA103] [nvarchar](10) NULL,
	[PUNTO103] [float] NULL,
	[FBAJA103] [datetime] NULL,
	[USERB103] [nvarchar](10) NULL,
 CONSTRAINT [PK_T103-PUNTO_TAREA] PRIMARY KEY CLUSTERED 
(
	[CTAREA103] ASC,
	[CMOTIVO103] ASC,
	[CCONT103] ASC,
	[FALTA103] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T104_PUNTO_OPERARIO_OT]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T104_PUNTO_OPERARIO_OT](
	[FECHA104] [datetime] NOT NULL,
	[FE_GENERADO104] [date] NOT NULL,
	[CODEQ104] [nvarchar](10) NOT NULL,
	[NTAREA104] [nvarchar](25) NOT NULL,
	[CTAREA104] [nvarchar](10) NOT NULL,
	[CCONT104] [nvarchar](10) NOT NULL,
	[NGNF104] [nvarchar](18) NOT NULL,
	[CANT104] [float] NULL,
	[PERSONA104] [int] NULL,
	[CMOTIVO104] [nvarchar](10) NULL,
	[TIPO_TRAB104] [nvarchar](10) NULL,
	[FOTO104] [int] NULL,
 CONSTRAINT [PK_T104_PUNTO_OPERARIO_OT] PRIMARY KEY CLUSTERED 
(
	[FECHA104] ASC,
	[FE_GENERADO104] ASC,
	[CODEQ104] ASC,
	[NTAREA104] ASC,
	[CTAREA104] ASC,
	[CCONT104] ASC,
	[NGNF104] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T105_RECORRIDO_CAB]    Script Date: 10/12/2019 13:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T105_RECORRIDO_CAB](
	[FRECO105] [date] NOT NULL,
	[CODEQ105] [nvarchar](10) NOT NULL,
	[NRECO105] [nvarchar](50) NOT NULL,
	[IMPRESO105] [datetime] NULL,
	[USERA105] [nvarchar](10) NULL,
	[FALTA105] [datetime] NULL,
	[FCOMU105] [datetime] NULL,
	[USERC105] [nvarchar](10) NULL,
	[FBAJA105] [datetime] NULL,
	[USERB105] [nvarchar](10) NULL,
	[VEHICULO105] [nvarchar](15) NULL,
	[KINICIO105] [float] NULL,
	[KFINAL105] [float] NULL,
 CONSTRAINT [PK_T105-RECORRIDO_CAB] PRIMARY KEY CLUSTERED 
(
	[FRECO105] ASC,
	[CODEQ105] ASC,
	[NRECO105] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T106_RECORRIDO_DET]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T106_RECORRIDO_DET](
	[FRECO106] [date] NOT NULL,
	[CODEQ106] [nvarchar](10) NOT NULL,
	[NRECO106] [nvarchar](50) NOT NULL,
	[CCONT106] [nvarchar](10) NOT NULL,
	[CMOTIVO106] [nvarchar](10) NOT NULL,
	[NTAREA106] [nvarchar](20) NOT NULL,
	[FGENERADO106] [date] NOT NULL,
	[NGNF106] [nvarchar](18) NOT NULL,
	[CTAREA106] [nvarchar](10) NULL,
	[MORIGINAL106] [nvarchar](10) NULL,
	[ORDEN106] [decimal](15, 0) IDENTITY(1,1) NOT NULL,
	[MARCA106] [nvarchar](2) NULL,
 CONSTRAINT [PK_T106-RECORRIDO_DET] PRIMARY KEY CLUSTERED 
(
	[FRECO106] ASC,
	[CODEQ106] ASC,
	[NRECO106] ASC,
	[CCONT106] ASC,
	[CMOTIVO106] ASC,
	[NTAREA106] ASC,
	[FGENERADO106] ASC,
	[NGNF106] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T107_RECLAMO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T107_RECLAMO](
	[NRECLAMO107] [nvarchar](20) NOT NULL,
	[FRECLAMO107] [datetime] NOT NULL,
	[CCONT107] [nvarchar](10) NOT NULL,
	[CMOTIVO107] [nvarchar](10) NOT NULL,
	[FE_EMISION107] [date] NOT NULL,
	[NPARTE107] [nvarchar](25) NOT NULL,
	[NGNF107] [nvarchar](18) NOT NULL,
	[NRECGNF107] [nvarchar](20) NULL,
	[NENARGAS107] [nvarchar](20) NULL,
	[TIPORE107] [nvarchar](10) NULL,
	[CANAL107] [nvarchar](10) NULL,
	[NOMPROP107] [nvarchar](100) NULL,
	[TELEFONO107] [nvarchar](50) NULL,
	[EMAIL107] [nvarchar](100) NULL,
	[USERR107] [nvarchar](10) NULL,
	[USERA107] [nvarchar](10) NULL,
	[USERAD107] [nvarchar](10) NULL,
	[USERC107] [nvarchar](10) NULL,
	[TEXTO107] [nvarchar](200) NULL,
	[FCIERRE107] [date] NULL,
	[HCIERRE107] [nvarchar](10) NULL,
	[FOTO107] [int] NULL,
	[OT107] [int] NULL,
	[FVTO107] [date] NULL,
	[REITERADO107] [int] NULL,
	[FREITERADO107] [date] NULL,
	[TEXTOC107] [nvarchar](200) NULL,
	[FASIG107] [date] NULL,
	[FSISA107] [datetime] NULL,
 CONSTRAINT [PK_T107_RECLAMO] PRIMARY KEY CLUSTERED 
(
	[NRECLAMO107] ASC,
	[FRECLAMO107] ASC,
	[CCONT107] ASC,
	[CMOTIVO107] ASC,
	[FE_EMISION107] ASC,
	[NPARTE107] ASC,
	[NGNF107] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T108_PERSONAL_X_RECORRIDO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T108_PERSONAL_X_RECORRIDO](
	[FEJEC108] [date] NOT NULL,
	[CAYU108] [nvarchar](10) NOT NULL,
	[COPERA108] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T108-PERSONAL_X_RECORRIDO] PRIMARY KEY CLUSTERED 
(
	[FEJEC108] ASC,
	[CAYU108] ASC,
	[COPERA108] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T109_RELEVAMIENTO_GENERAL]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T109_RELEVAMIENTO_GENERAL](
	[NPARTE109] [nvarchar](20) NULL,
	[NPOLIZA109] [nvarchar](15) NULL,
	[SITUACION109] [nvarchar](20) NULL,
	[FREALIZADO109] [datetime] NULL,
	[INSPECTOR109] [nvarchar](15) NULL,
	[NMEDIDOR109] [nvarchar](20) NULL,
	[ESTADO109] [nvarchar](20) NULL,
	[CAPMED109] [nvarchar](4) NULL,
	[TIPOMED109] [nvarchar](10) NULL,
	[TIPOCONEX109] [nvarchar](3) NULL,
	[TOMAS109] [nvarchar](3) NULL,
	[NICHO109] [nvarchar](3) NULL,
	[TPRESION109] [nvarchar](15) NULL,
	[LTOMA109] [nvarchar](3) NULL,
	[PRESION109] [nvarchar](15) NULL,
	[TELEFONO109] [nvarchar](50) NULL,
	[USUARIO109] [nvarchar](50) NULL,
	[EMPRESA109] [nvarchar](50) NULL,
	[OBSER109] [nvarchar](50) NULL,
	[NSGC109] [decimal](18, 0) NULL,
	[F1022109] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T110_ANOMALIAS]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T110_ANOMALIAS](
	[FECHA110] [date] NOT NULL,
	[NPARTE110] [nvarchar](25) NOT NULL,
	[CANO110] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T110-ANOMALIAS] PRIMARY KEY CLUSTERED 
(
	[FECHA110] ASC,
	[NPARTE110] ASC,
	[CANO110] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T111_ARTEFACTOS]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T111_ARTEFACTOS](
	[NPARTE111] [nvarchar](25) NOT NULL,
	[CODART111] [nvarchar](10) NOT NULL,
	[POTENCIA111] [nvarchar](20) NOT NULL,
	[CANT111] [nvarchar](20) NOT NULL,
	[PORUSO111] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_T111-ARTEFACTOS] PRIMARY KEY CLUSTERED 
(
	[NPARTE111] ASC,
	[CODART111] ASC,
	[POTENCIA111] ASC,
	[CANT111] ASC,
	[PORUSO111] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T112_TAREA_X_MOTIVO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T112_TAREA_X_MOTIVO](
	[CMOT112] [nvarchar](10) NOT NULL,
	[CTAREA112] [nvarchar](10) NOT NULL,
	[CCONT112] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T112-TAREA_X_MOTIVO] PRIMARY KEY CLUSTERED 
(
	[CMOT112] ASC,
	[CTAREA112] ASC,
	[CCONT112] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T113_OPERARIO_COLABORAR]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T113_OPERARIO_COLABORAR](
	[TEXTOCOLA113] [nvarchar](70) NOT NULL,
	[COPERARIO113] [nvarchar](10) NULL,
 CONSTRAINT [PK_T113-OPERARIO-COLABORAR] PRIMARY KEY CLUSTERED 
(
	[TEXTOCOLA113] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T114_TAREAS_X_USER]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T114_TAREAS_X_USER](
	[NMOV114] [float] NOT NULL,
	[FECHA114] [datetime] NULL,
	[CMOVI114] [nvarchar](5) NULL,
	[CCONT114] [nvarchar](10) NULL,
	[FALTA114] [date] NULL,
	[NPARTE114] [nvarchar](25) NULL,
	[NGNF114] [nvarchar](18) NULL,
	[CMOTIVO114] [nvarchar](10) NULL,
	[USER114] [nvarchar](10) NULL,
 CONSTRAINT [PK_T114-TAREAS-X-USER] PRIMARY KEY CLUSTERED 
(
	[NMOV114] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T115_ZONA]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T115_ZONA](
	[CZONA115] [nvarchar](3) NOT NULL,
	[LOCALIDAD115] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T115_ZONA] PRIMARY KEY CLUSTERED 
(
	[CZONA115] ASC,
	[LOCALIDAD115] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T116_TIPO_OT]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T116_TIPO_OT](
	[CTIPO116] [nvarchar](3) NOT NULL,
	[CMOTIVO116] [nvarchar](10) NOT NULL,
	[CCONT116] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T116-TIPO-OT] PRIMARY KEY CLUSTERED 
(
	[CTIPO116] ASC,
	[CMOTIVO116] ASC,
	[CCONT116] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T117_MOTXOPERARIO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T117_MOTXOPERARIO](
	[COPE117] [nvarchar](10) NOT NULL,
	[CTIPO116] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_T117-MOTXOPERARIO] PRIMARY KEY CLUSTERED 
(
	[COPE117] ASC,
	[CTIPO116] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T118_CAMBIO_MOTIVO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T118_CAMBIO_MOTIVO](
	[CCONT118] [nvarchar](10) NOT NULL,
	[CMOTIVO118] [nvarchar](10) NOT NULL,
	[CTAREA118] [nvarchar](10) NOT NULL,
	[CANOM118] [nvarchar](10) NOT NULL,
	[NMOTIVO118] [nvarchar](10) NULL,
	[DESC118] [nvarchar](50) NULL,
 CONSTRAINT [PK_T118-CAMBIO-MOTIVO] PRIMARY KEY CLUSTERED 
(
	[CCONT118] ASC,
	[CMOTIVO118] ASC,
	[CTAREA118] ASC,
	[CANOM118] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T119_CARGO_X_OPERARIO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T119_CARGO_X_OPERARIO](
	[FALTA119] [datetime] NOT NULL,
	[OPERARIO119] [nvarchar](10) NOT NULL,
	[CCARGO119] [nvarchar](3) NOT NULL,
	[FBAJA119] [datetime] NULL,
 CONSTRAINT [PK_T119-CARGO-X-OPERARIO] PRIMARY KEY CLUSTERED 
(
	[FALTA119] ASC,
	[OPERARIO119] ASC,
	[CCARGO119] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T120_PRECIO_CARGO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T120_PRECIO_CARGO](
	[CCARGO120] [nvarchar](3) NOT NULL,
	[FALTA120] [datetime] NOT NULL,
	[PRECIO120] [float] NULL,
	[FBAJA120] [datetime] NULL,
 CONSTRAINT [PK_T120-PRECIO-CARGO] PRIMARY KEY CLUSTERED 
(
	[CCARGO120] ASC,
	[FALTA120] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T121_TAREA_X_GNF]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T121_TAREA_X_GNF](
	[CCONT121] [nvarchar](10) NOT NULL,
	[CTAREA121] [nvarchar](10) NOT NULL,
	[CGNF121] [nvarchar](5) NULL,
	[TCIERRE121] [nvarchar](1) NULL,
 CONSTRAINT [PK_T121_TAREA_X_GNF] PRIMARY KEY CLUSTERED 
(
	[CCONT121] ASC,
	[CTAREA121] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T122_CERTIFICACION_CRC]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T122_CERTIFICACION_CRC](
	[TIPOMOT122] [nvarchar](10) NOT NULL,
	[TIPOANO122] [nvarchar](10) NOT NULL,
	[CTAREA122] [nvarchar](10) NOT NULL,
	[CODCERT122] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T122_CERTIFICACION_CRC] PRIMARY KEY CLUSTERED 
(
	[TIPOMOT122] ASC,
	[TIPOANO122] ASC,
	[CTAREA122] ASC,
	[CODCERT122] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T123_ITEM_CERTIFICADO_CRC]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T123_ITEM_CERTIFICADO_CRC](
	[FE_EMISION123] [date] NOT NULL,
	[TTIPO_TRAB123] [nvarchar](10) NOT NULL,
	[NPARTE123] [nvarchar](25) NOT NULL,
	[FEJEC123] [date] NOT NULL,
	[ITEMCER123] [nvarchar](10) NOT NULL,
	[NGNF123] [nvarchar](18) NOT NULL,
 CONSTRAINT [PK_T123_ITEM_CERTIFICADO_CRC] PRIMARY KEY CLUSTERED 
(
	[FE_EMISION123] ASC,
	[TTIPO_TRAB123] ASC,
	[NPARTE123] ASC,
	[FEJEC123] ASC,
	[ITEMCER123] ASC,
	[NGNF123] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T124_DIRECCIONES_ACCION]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T124_DIRECCIONES_ACCION](
	[CODIGO124] [nvarchar](10) NOT NULL,
	[CLIBRETA124] [int] NOT NULL,
 CONSTRAINT [PK_T124_DIRECCIONES_ACCION] PRIMARY KEY CLUSTERED 
(
	[CODIGO124] ASC,
	[CLIBRETA124] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T125_AVISO_FRAUDE]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T125_AVISO_FRAUDE](
	[CCONT125] [nvarchar](10) NOT NULL,
	[NTRABAJO125] [nvarchar](25) NOT NULL,
	[FE_EMISION125] [date] NOT NULL,
	[POLIZA125] [nvarchar](15) NULL,
	[TFRAUDE125] [nvarchar](10) NULL,
	[FFRAUDE125] [date] NULL,
	[NFRAUDE125] [nvarchar](30) NULL,
	[USER125] [nvarchar](10) NULL,
 CONSTRAINT [PK_T125_AVISO_FRAUDE] PRIMARY KEY CLUSTERED 
(
	[CCONT125] ASC,
	[NTRABAJO125] ASC,
	[FE_EMISION125] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T126_ITEM_TAREA_EQ]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T126_ITEM_TAREA_EQ](
	[CCONT126] [nvarchar](10) NOT NULL,
	[CODTAREA126] [nvarchar](10) NOT NULL,
	[CAPMED126] [nvarchar](5) NOT NULL,
	[ANOMALIA126] [nvarchar](10) NOT NULL,
	[NCODTAREA126] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T126_ITEM_TAREA_EQ_CRC] PRIMARY KEY CLUSTERED 
(
	[CCONT126] ASC,
	[CODTAREA126] ASC,
	[CAPMED126] ASC,
	[ANOMALIA126] ASC,
	[NCODTAREA126] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T127_VISITAS_ACCION_CRC]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T127_VISITAS_ACCION_CRC](
	[CTAREA127] [nvarchar](10) NOT NULL,
	[CANO127] [nvarchar](10) NOT NULL,
	[ACCION127] [int] NOT NULL,
	[VMIN127] [int] NULL,
	[VMAX127] [int] NULL,
 CONSTRAINT [PK_T127_VISITAS_ACCION_CRC] PRIMARY KEY CLUSTERED 
(
	[CTAREA127] ASC,
	[CANO127] ASC,
	[ACCION127] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T128_OT_PARTIDO_GNF]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T128_OT_PARTIDO_GNF](
	[TIPO128] [nvarchar](5) NOT NULL,
	[PARTIDO128] [nvarchar](5) NOT NULL,
	[CCONT128] [nvarchar](5) NULL,
 CONSTRAINT [PK_T128_OT_PARTIDO_GNF] PRIMARY KEY CLUSTERED 
(
	[TIPO128] ASC,
	[PARTIDO128] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T129_CARGA_ARCHIVOS_SGC]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T129_CARGA_ARCHIVOS_SGC](
	[PROCESO129] [nvarchar](20) NOT NULL,
	[FECHA129] [date] NOT NULL,
	[HORA129] [time](7) NOT NULL,
	[CANT129] [decimal](18, 0) NOT NULL,
	[USER129] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T129_CARGA_ARCHIVOS_SGC] PRIMARY KEY CLUSTERED 
(
	[PROCESO129] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T130_FUGA_GNF]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T130_FUGA_GNF](
	[CONT130] [nvarchar](10) NOT NULL,
	[CTAREA130] [nvarchar](30) NOT NULL,
	[FGENERADO130] [date] NOT NULL,
	[NPARTE130] [nvarchar](35) NOT NULL,
	[CFUGA130] [nvarchar](5) NOT NULL,
	[CTIPO130] [nvarchar](5) NOT NULL,
	[CLOCALIZA130] [nvarchar](5) NOT NULL,
	[CCOMP130] [nvarchar](5) NOT NULL,
	[PRESION130] [nvarchar](10) NULL,
	[MATERIAL130] [nvarchar](10) NULL,
	[CDIAM130] [nvarchar](10) NULL,
	[OBS130] [nvarchar](100) NULL,
 CONSTRAINT [PK_T130_FUGA_GNF] PRIMARY KEY CLUSTERED 
(
	[CONT130] ASC,
	[CTAREA130] ASC,
	[FGENERADO130] ASC,
	[NPARTE130] ASC,
	[CFUGA130] ASC,
	[CTIPO130] ASC,
	[CLOCALIZA130] ASC,
	[CCOMP130] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T131_FUGA_EXGA]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T131_FUGA_EXGA](
	[CONT131] [nvarchar](10) NOT NULL,
	[CTAREA131] [nvarchar](30) NOT NULL,
	[FGENERADO131] [date] NOT NULL,
	[NPARTE131] [nvarchar](35) NOT NULL,
	[CFUGA131] [nvarchar](5) NOT NULL,
	[CTIPO131] [nvarchar](5) NOT NULL,
	[CLOCALIZA131] [nvarchar](5) NOT NULL,
	[CCOMP131] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_T131_FUGA_EXGA] PRIMARY KEY CLUSTERED 
(
	[CONT131] ASC,
	[CTAREA131] ASC,
	[FGENERADO131] ASC,
	[NPARTE131] ASC,
	[CFUGA131] ASC,
	[CTIPO131] ASC,
	[CLOCALIZA131] ASC,
	[CCOMP131] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T132_VEREDA_ROTA]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T132_VEREDA_ROTA](
	[CCONT132] [nvarchar](10) NOT NULL,
	[TIPO_TRAB132] [nvarchar](10) NOT NULL,
	[FE_EMISION132] [date] NOT NULL,
	[NPARTE132] [nvarchar](25) NOT NULL,
	[TIPO132] [nvarchar](10) NOT NULL,
	[NPOZO132] [int] NOT NULL,
	[ANCHO132] [float] NULL,
	[LARGO132] [float] NULL,
 CONSTRAINT [PK_T132_VEREDA_ROTA_1] PRIMARY KEY CLUSTERED 
(
	[CCONT132] ASC,
	[TIPO_TRAB132] ASC,
	[FE_EMISION132] ASC,
	[NPARTE132] ASC,
	[TIPO132] ASC,
	[NPOZO132] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T133_F1022]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T133_F1022](
	[CCONT133] [nvarchar](10) NOT NULL,
	[TIPO_TRAB133] [nvarchar](10) NOT NULL,
	[FE_EMISION133] [date] NOT NULL,
	[NPARTE133] [nvarchar](25) NOT NULL,
	[NUMERO133] [nvarchar](20) NOT NULL,
	[UF133] [nvarchar](20) NULL,
	[FECHA133] [datetime] NULL,
	[MOTIVO133] [nvarchar](10) NULL,
	[NMEDIDOR133] [nvarchar](20) NULL,
	[ESTADO133] [nvarchar](20) NULL,
	[PRESINTO133] [nvarchar](50) NULL,
	[OBS133] [nvarchar](150) NULL,
	[FENVIO133] [datetime] NULL,
	[USER133] [nvarchar](20) NULL,
 CONSTRAINT [PK_T133_F1022] PRIMARY KEY CLUSTERED 
(
	[CCONT133] ASC,
	[TIPO_TRAB133] ASC,
	[FE_EMISION133] ASC,
	[NPARTE133] ASC,
	[NUMERO133] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T134_VEREDA_REPARADA]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T134_VEREDA_REPARADA](
	[CCONT134] [nvarchar](10) NOT NULL,
	[TIPO_TRAB134] [nvarchar](10) NOT NULL,
	[FE_EMISION134] [date] NOT NULL,
	[NPARTE134] [nvarchar](25) NOT NULL,
	[NPOZO134] [int] NOT NULL,
	[TIPO134] [nvarchar](10) NOT NULL,
	[ANCHO134] [nvarchar](10) NULL,
	[LARGO134] [nvarchar](10) NULL,
	[M2_134] [float] NULL,
	[PROVE134] [nvarchar](12) NULL,
 CONSTRAINT [PK_T134_VEREDA_REPARADA_1] PRIMARY KEY CLUSTERED 
(
	[CCONT134] ASC,
	[TIPO_TRAB134] ASC,
	[FE_EMISION134] ASC,
	[NPARTE134] ASC,
	[NPOZO134] ASC,
	[TIPO134] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T135_ACCION_CRC]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T135_ACCION_CRC](
	[NPARTE135] [nvarchar](25) NOT NULL,
	[FECHA135] [date] NOT NULL,
	[ACC135] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T135_ACCION_CRC] PRIMARY KEY CLUSTERED 
(
	[NPARTE135] ASC,
	[FECHA135] ASC,
	[ACC135] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T136_DEUDA_OCOR]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T136_DEUDA_OCOR](
	[POLIZA136] [nvarchar](25) NOT NULL,
	[FGENERADO136] [date] NOT NULL,
	[COMPRO136] [nvarchar](50) NOT NULL,
	[VTO136] [date] NOT NULL,
	[DEUDA136] [decimal](18, 2) NULL,
	[DEUDAI136] [decimal](18, 2) NULL,
 CONSTRAINT [PK_T136_DEUDA_OCOR] PRIMARY KEY CLUSTERED 
(
	[POLIZA136] ASC,
	[FGENERADO136] ASC,
	[COMPRO136] ASC,
	[VTO136] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T137_ACTIVIDAD_MOTIVO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T137_ACTIVIDAD_MOTIVO](
	[CCONT137] [nvarchar](10) NOT NULL,
	[CMOTIVO137] [nvarchar](10) NOT NULL,
	[CACTIV137] [int] NOT NULL,
	[CNMOTIVO137] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T137_ACTIVIDAD_MOTIVO] PRIMARY KEY CLUSTERED 
(
	[CCONT137] ASC,
	[CMOTIVO137] ASC,
	[CACTIV137] ASC,
	[CNMOTIVO137] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T138_VALOR_ITEM_MANT]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T138_VALOR_ITEM_MANT](
	[ITEM138] [nvarchar](10) NOT NULL,
	[FALTA138] [date] NOT NULL,
	[PUNTOS138] [float] NULL,
	[FBAJA138] [date] NULL,
 CONSTRAINT [PK_T138_VALOR_ITEM_MANT] PRIMARY KEY CLUSTERED 
(
	[ITEM138] ASC,
	[FALTA138] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T139_ITEM_COD_MANT]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T139_ITEM_COD_MANT](
	[CCONT139] [nvarchar](10) NOT NULL,
	[COD139] [nvarchar](10) NOT NULL,
	[MATCM139] [nvarchar](10) NOT NULL,
	[DIMCM139] [nvarchar](10) NOT NULL,
	[MATSER139] [nvarchar](10) NOT NULL,
	[DIAMSER139] [nvarchar](10) NOT NULL,
	[ITEM139] [nvarchar](10) NOT NULL,
	[CANT139] [float] NOT NULL,
 CONSTRAINT [PK_T139_ITEM_COD_MANT_1] PRIMARY KEY CLUSTERED 
(
	[CCONT139] ASC,
	[COD139] ASC,
	[MATCM139] ASC,
	[DIMCM139] ASC,
	[MATSER139] ASC,
	[DIAMSER139] ASC,
	[ITEM139] ASC,
	[CANT139] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T140_MATERIAL_UTI]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T140_MATERIAL_UTI](
	[CONT140] [nvarchar](10) NOT NULL,
	[CTAREA140] [nvarchar](30) NOT NULL,
	[FGENERADO140] [date] NOT NULL,
	[NPARTE140] [nvarchar](35) NOT NULL,
	[CMAT140] [nvarchar](10) NOT NULL,
	[CANT140] [float] NULL,
	[NGNF140] [nvarchar](10) NULL,
	[FREALIZADO140] [date] NULL,
 CONSTRAINT [PK_T140_MATERIALES_MANT] PRIMARY KEY CLUSTERED 
(
	[CONT140] ASC,
	[CTAREA140] ASC,
	[FGENERADO140] ASC,
	[NPARTE140] ASC,
	[CMAT140] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T141_AUTORIZA_M2_MAYOR]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T141_AUTORIZA_M2_MAYOR](
	[FAUTORIZO141] [date] NOT NULL,
	[FE_EMISION141] [date] NOT NULL,
	[TIPO_TRAB141] [nvarchar](10) NOT NULL,
	[NPARTE141] [nvarchar](20) NOT NULL,
	[USERAUT141] [nvarchar](10) NULL,
	[OBS141] [nvarchar](200) NULL,
 CONSTRAINT [PK_T141_AUTORIZA_M2_MAYOR] PRIMARY KEY CLUSTERED 
(
	[FAUTORIZO141] ASC,
	[FE_EMISION141] ASC,
	[TIPO_TRAB141] ASC,
	[NPARTE141] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T142_ITEM_CERT_MANT]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T142_ITEM_CERT_MANT](
	[CCONT142] [nvarchar](10) NOT NULL,
	[TIPO_TRAB142] [nvarchar](10) NOT NULL,
	[CODCON142] [nvarchar](10) NOT NULL,
	[CODCER142] [nchar](10) NOT NULL,
	[MATCM142] [nvarchar](10) NOT NULL,
	[DIMCM142] [nvarchar](10) NOT NULL,
	[MATSER142] [nvarchar](10) NOT NULL,
	[DIMSER142] [nvarchar](10) NOT NULL,
	[CANT142] [decimal](18, 2) NULL,
 CONSTRAINT [PK_T142_ITEM_CERT_MANT] PRIMARY KEY CLUSTERED 
(
	[CCONT142] ASC,
	[TIPO_TRAB142] ASC,
	[CODCON142] ASC,
	[CODCER142] ASC,
	[MATCM142] ASC,
	[DIMCM142] ASC,
	[MATSER142] ASC,
	[DIMSER142] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T143_CERTIFICACION_MANT]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T143_CERTIFICACION_MANT](
	[FALTA143] [date] NOT NULL,
	[CCONT143] [nvarchar](10) NOT NULL,
	[TIPO_TRAB143] [nvarchar](10) NOT NULL,
	[FE_EMISION143] [date] NOT NULL,
	[NPARTE143] [nvarchar](20) NOT NULL,
	[ITEMCER143] [nvarchar](10) NOT NULL,
	[CANT143] [float] NULL,
	[ANCHO143] [nvarchar](10) NULL,
	[LARGO143] [nvarchar](10) NULL,
	[PROF143] [nvarchar](10) NULL,
	[K143] [float] NULL,
	[CATCERT143] [float] NULL,
 CONSTRAINT [PK_T143_CERTIFICACION_MANT] PRIMARY KEY CLUSTERED 
(
	[FALTA143] ASC,
	[CCONT143] ASC,
	[TIPO_TRAB143] ASC,
	[FE_EMISION143] ASC,
	[NPARTE143] ASC,
	[ITEMCER143] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T144_MENSAJE_RECLAMO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T144_MENSAJE_RECLAMO](
	[NRECLAMO144] [nvarchar](20) NOT NULL,
	[FRECLAMO144] [datetime] NOT NULL,
	[CCONT144] [nvarchar](10) NOT NULL,
	[CMOTIVO144] [nvarchar](10) NOT NULL,
	[FE_EMISION144] [date] NOT NULL,
	[NPARTE144] [nvarchar](25) NOT NULL,
	[NGNF144] [nvarchar](18) NOT NULL,
	[NMENSAJE144] [nvarchar](20) NOT NULL,
	[MENSAJE144] [nvarchar](200) NULL,
	[USERC144] [nvarchar](10) NULL,
 CONSTRAINT [PK_T144_MENSAJE_RECLAMO] PRIMARY KEY CLUSTERED 
(
	[NRECLAMO144] ASC,
	[FRECLAMO144] ASC,
	[CCONT144] ASC,
	[CMOTIVO144] ASC,
	[FE_EMISION144] ASC,
	[NPARTE144] ASC,
	[NGNF144] ASC,
	[NMENSAJE144] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T145_DATO_ACO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T145_DATO_ACO](
	[CCONT145] [nvarchar](10) NOT NULL,
	[FE_EMISION145] [date] NOT NULL,
	[TIPO_TRAB145] [nvarchar](10) NOT NULL,
	[NGNF145] [nvarchar](18) NOT NULL,
	[NPARTE145] [nvarchar](25) NOT NULL,
	[DIMCM145] [nvarchar](10) NULL,
	[MATCM145] [nvarchar](10) NULL,
	[DIMACO145] [nvarchar](10) NULL,
	[MATACO145] [nvarchar](10) NULL,
	[CAUDAL145] [nvarchar](10) NULL,
	[CONSUMO145] [nvarchar](10) NULL,
 CONSTRAINT [PK_T145_DATO_ACO] PRIMARY KEY CLUSTERED 
(
	[CCONT145] ASC,
	[FE_EMISION145] ASC,
	[TIPO_TRAB145] ASC,
	[NGNF145] ASC,
	[NPARTE145] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T146_COD_SISA_COD_EXGA]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T146_COD_SISA_COD_EXGA](
	[CCONT146] [nvarchar](10) NOT NULL,
	[TIPO_TRAB146] [nvarchar](10) NOT NULL,
	[COD_TAREA146] [nvarchar](10) NOT NULL,
	[COD_SISA146] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_T146_COD_SISA_COD_EXGA] PRIMARY KEY CLUSTERED 
(
	[CCONT146] ASC,
	[TIPO_TRAB146] ASC,
	[COD_TAREA146] ASC,
	[COD_SISA146] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T147_VALIDACION]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T147_VALIDACION](
	[CCONT147] [nvarchar](10) NOT NULL,
	[TIPO_TRAB147] [nvarchar](10) NOT NULL,
	[ACCION147] [nvarchar](10) NOT NULL,
	[ANOMA147] [int] NOT NULL,
	[RESULTADO147] [nvarchar](2) NOT NULL,
	[ADICIONAL147] [int] NULL,
	[VPAPEL147] [int] NULL,
	[VMED147] [int] NULL,
	[VEST147] [int] NULL,
	[VCOD147] [int] NULL,
	[VFUGA147] [int] NULL,
	[NTAREA147] [nvarchar](10) NULL,
	[VART147] [int] NULL,
	[VRECHA147] [int] NULL,
	[VHABIT147] [int] NULL,
 CONSTRAINT [PK_T147_VALIDACION] PRIMARY KEY CLUSTERED 
(
	[CCONT147] ASC,
	[TIPO_TRAB147] ASC,
	[ACCION147] ASC,
	[ANOMA147] ASC,
	[RESULTADO147] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T148_ARTEFACTO_UTI]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T148_ARTEFACTO_UTI](
	[CCONT148] [nvarchar](10) NOT NULL,
	[TIPO_TRAB148] [nvarchar](10) NOT NULL,
	[NGNF148] [nvarchar](18) NOT NULL,
	[FE_EMISION148] [date] NOT NULL,
	[NPARTE148] [nvarchar](25) NOT NULL,
	[NART148] [int] NOT NULL,
	[CODART148] [nvarchar](10) NULL,
	[CALORIA148] [int] NULL,
	[UBICACION148] [nvarchar](10) NULL,
	[CANT_ART148] [int] NULL,
	[NPRECINTO148] [nvarchar](25) NULL,
	[OBS_ART148] [nvarchar](50) NULL,
 CONSTRAINT [PK_T148_ARTEFACTO_UTI] PRIMARY KEY CLUSTERED 
(
	[CCONT148] ASC,
	[TIPO_TRAB148] ASC,
	[NGNF148] ASC,
	[FE_EMISION148] ASC,
	[NPARTE148] ASC,
	[NART148] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T149_COD_RECHAZO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T149_COD_RECHAZO](
	[CCONT149] [nvarchar](10) NOT NULL,
	[TIPO_TRAB149] [nvarchar](10) NOT NULL,
	[NGNF149] [nvarchar](18) NOT NULL,
	[FE_EMISION149] [date] NOT NULL,
	[NPARTE149] [nvarchar](25) NOT NULL,
	[COD_RE149] [nvarchar](10) NOT NULL,
	[FEC_REALI149] [datetime] NOT NULL,
 CONSTRAINT [PK_T149_COD_RECHAZO] PRIMARY KEY CLUSTERED 
(
	[CCONT149] ASC,
	[TIPO_TRAB149] ASC,
	[NGNF149] ASC,
	[FE_EMISION149] ASC,
	[NPARTE149] ASC,
	[COD_RE149] ASC,
	[FEC_REALI149] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z001_CONTADOR]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z001_CONTADOR](
	[CODIGO] [nvarchar](10) NOT NULL,
	[CONTADOR] [float] NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
 CONSTRAINT [PK_Z001-CONTADOR] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z0015_Puntos_Totales]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z0015_Puntos_Totales](
	[PUNTOS] [decimal](18, 3) NULL,
	[FECHA] [date] NOT NULL,
	[DNI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Z0015_Puntos_Totales] PRIMARY KEY CLUSTERED 
(
	[FECHA] ASC,
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z002_CARPETAS]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z002_CARPETAS](
	[CONTRATO] [nvarchar](10) NOT NULL,
	[COD_CARPETA] [nvarchar](10) NOT NULL,
	[DIRECCION] [nvarchar](100) NOT NULL,
	[OBSERVACIONES] [nvarchar](100) NULL,
 CONSTRAINT [PK_Z002-CARPETAS] PRIMARY KEY CLUSTERED 
(
	[CONTRATO] ASC,
	[COD_CARPETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z003_CAPACIDAD_MEDIDOR]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z003_CAPACIDAD_MEDIDOR](
	[CODSAP] [nvarchar](6) NOT NULL,
	[CAPACIDAD] [decimal](3, 1) NULL,
	[CODG] [int] NULL,
 CONSTRAINT [PK_Z003_CAPACIDAD_MEDIDOR] PRIMARY KEY CLUSTERED 
(
	[CODSAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z004_IMAGENES]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z004_IMAGENES](
	[CCONT] [nvarchar](10) NOT NULL,
	[CODIGO] [nvarchar](20) NOT NULL,
	[RutaImagen] [nvarchar](60) NULL,
	[IMAGEN] [varbinary](max) NULL,
 CONSTRAINT [PK_Z004_IMAGENES] PRIMARY KEY CLUSTERED 
(
	[CCONT] ASC,
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z005_PARTIDOS_CRC]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z005_PARTIDOS_CRC](
	[DESCPARTIDO] [nvarchar](50) NULL,
	[CODIGO] [nvarchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z006_LOCALIDAD_CRC]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z006_LOCALIDAD_CRC](
	[CPARTIDO] [nvarchar](3) NULL,
	[LOCALIDAD] [nvarchar](100) NULL,
	[CODLOCALIDAD] [nvarchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z007_LIBRETA_DIRECCIONES]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z007_LIBRETA_DIRECCIONES](
	[COD] [int] NOT NULL,
	[DIRECCION] [nvarchar](200) NOT NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
 CONSTRAINT [PK_Z007_LIBRETA_DIRECCIONES] PRIMARY KEY CLUSTERED 
(
	[COD] ASC,
	[DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z008_VISITAS_X_ANOMALIA]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z008_VISITAS_X_ANOMALIA](
	[CCONT008] [nvarchar](10) NOT NULL,
	[CMOTIVO008] [nvarchar](10) NOT NULL,
	[CANOMA008] [nvarchar](10) NOT NULL,
	[VISITAS008] [int] NULL,
 CONSTRAINT [PK_Z008_VISITAS_X_ANOMALIA] PRIMARY KEY CLUSTERED 
(
	[CCONT008] ASC,
	[CMOTIVO008] ASC,
	[CANOMA008] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z009_PROCESOS]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z009_PROCESOS](
	[CODPROCESO] [nvarchar](10) NOT NULL,
	[FECHAULTIMO] [datetime] NOT NULL,
	[NUMERO] [decimal](18, 0) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
 CONSTRAINT [PK_Z009_PROCESOS] PRIMARY KEY CLUSTERED 
(
	[CODPROCESO] ASC,
	[FECHAULTIMO] ASC,
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z010_ACCES]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z010_ACCES](
	[CNI010] [nvarchar](12) NOT NULL,
	[CACCE010] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Z010_ACCES] PRIMARY KEY CLUSTERED 
(
	[CNI010] ASC,
	[CACCE010] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z011_TEMP_QUINCENA]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z011_TEMP_QUINCENA](
	[CONT011] [nvarchar](10) NULL,
	[FECHA011] [date] NULL,
	[DNI011] [nvarchar](15) NULL,
	[AYN011] [nvarchar](150) NULL,
	[OT011] [nvarchar](20) NULL,
	[POLIZA011] [nvarchar](30) NULL,
	[TAREA011] [nvarchar](20) NULL,
	[NTAREA011] [nvarchar](100) NULL,
	[PUNTOS011] [decimal](18, 3) NULL,
	[PUNTOU011] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z012_CORDENADAS]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z012_CORDENADAS](
	[POLIZA012] [nvarchar](20) NOT NULL,
	[LATITUD012] [float] NULL,
	[LONGITUD012] [float] NOT NULL,
	[DATO012] [nvarchar](2) NULL,
 CONSTRAINT [PK_Z012_CORDENADAS] PRIMARY KEY CLUSTERED 
(
	[POLIZA012] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z013_FTP]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z013_FTP](
	[TIPO013] [int] NOT NULL,
	[DIRECCION013] [nvarchar](100) NULL,
	[USR013] [nvarchar](100) NULL,
	[CLAVE013] [nvarchar](100) NULL,
	[ESPACIO013] [nvarchar](100) NULL,
	[DESCRIPCION013] [nvarchar](100) NULL,
 CONSTRAINT [PK_Z013_FTP] PRIMARY KEY CLUSTERED 
(
	[TIPO013] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z014_TELEFONOS_OCOR]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z014_TELEFONOS_OCOR](
	[POLIZA014] [nvarchar](25) NOT NULL,
	[TELUNO014] [nvarchar](100) NULL,
	[TELDOS014] [nvarchar](100) NULL,
	[TELTRES014] [nvarchar](100) NULL,
	[EMAIL014] [nvarchar](150) NULL,
 CONSTRAINT [PK_Z014_TELEFONOS_OCOR] PRIMARY KEY CLUSTERED 
(
	[POLIZA014] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z015_TEMP_OCOR]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z015_TEMP_OCOR](
	[CCONT15] [nvarchar](10) NOT NULL,
	[TIPO_TRAB15] [nvarchar](10) NOT NULL,
	[NGNF15] [nvarchar](18) NOT NULL,
	[FE_EMISION15] [date] NOT NULL,
	[NPARTE15] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Z015_TEMP_OCOR] PRIMARY KEY CLUSTERED 
(
	[CCONT15] ASC,
	[TIPO_TRAB15] ASC,
	[NGNF15] ASC,
	[FE_EMISION15] ASC,
	[NPARTE15] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z016_MATRICULADO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z016_MATRICULADO](
	[NMATRI016] [nvarchar](10) NOT NULL,
	[NOM_APE016] [nvarchar](200) NULL,
	[CELULAR016] [nvarchar](50) NULL,
	[EMAIL1_016] [nvarchar](150) NULL,
	[EMAIL2_016] [nvarchar](150) NULL,
	[TELEFONO016] [nvarchar](50) NULL,
 CONSTRAINT [PK_Z016_MATRICULADO] PRIMARY KEY CLUSTERED 
(
	[NMATRI016] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z017_TEMP_TAREA_PEND_GENREAR]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z017_TEMP_TAREA_PEND_GENREAR](
	[CCONT017] [nvarchar](10) NOT NULL,
	[TIPO_TRAB017] [nvarchar](10) NOT NULL,
	[FE_EMISION017] [date] NOT NULL,
	[NPARTE017] [nvarchar](25) NOT NULL,
	[COPERARIO017] [nvarchar](10) NULL,
	[FR017] [datetime] NULL,
	[CODREA017] [int] NULL,
	[NMEDIDOR017] [nvarchar](20) NULL,
	[LECTURA017] [nvarchar](10) NULL,
	[NEWMEDIDOR017] [nvarchar](20) NULL,
	[VMEDIDOR017] [int] NULL,
	[VPAPEL017] [int] NULL,
	[OBS017] [nvarchar](50) NULL,
	[FIRMO017] [nvarchar](2) NULL,
	[FIRMA017] [nvarchar](100) NULL,
	[ACLARACION017] [nvarchar](10) NULL,
	[DNI017] [nvarchar](15) NULL,
	[PROCESO017] [nvarchar](50) NULL,
	[FOTO1_017] [nvarchar](200) NULL,
	[FOTO2_017] [nvarchar](100) NULL,
 CONSTRAINT [PK_Z017_TEMP_TAREA_PEND_GENREAR_1] PRIMARY KEY CLUSTERED 
(
	[CCONT017] ASC,
	[TIPO_TRAB017] ASC,
	[FE_EMISION017] ASC,
	[NPARTE017] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z018_CLIENTES_AVISOS]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z018_CLIENTES_AVISOS](
	[POLIZA018] [decimal](8, 0) NOT NULL,
	[EMAIL018] [nvarchar](100) NULL,
	[OBS018] [nvarchar](500) NULL,
	[FCARGA018] [datetime] NULL,
	[NOM018] [nvarchar](50) NULL,
	[DNI018] [nvarchar](50) NULL,
	[APE018] [nvarchar](50) NULL,
 CONSTRAINT [PK_Z018_CLIENTES_AVISOS] PRIMARY KEY CLUSTERED 
(
	[POLIZA018] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z019_ERROR_SISA_GENERICO]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z019_ERROR_SISA_GENERICO](
	[CCONT019] [nvarchar](10) NOT NULL,
	[POLIZA019] [nvarchar](25) NOT NULL,
	[TIPO_TRAB019] [nvarchar](10) NOT NULL,
	[NGNF019] [nvarchar](20) NOT NULL,
	[FE019] [date] NOT NULL,
	[FR019] [datetime] NOT NULL,
	[ACCIONES019] [nvarchar](150) NULL,
	[OPERARIO019] [nvarchar](12) NULL,
	[FIRMOCLIENTE019] [nvarchar](2) NULL,
	[FIRMA019] [nvarchar](150) NULL,
	[ACLARACION019] [nvarchar](50) NULL,
	[DNI019] [nvarchar](12) NULL,
	[MEDCOLOCA019] [nvarchar](20) NULL,
	[ESTADOCOLOCA019] [nvarchar](10) NULL,
	[LECTURA019] [nvarchar](10) NULL,
	[OBS019] [nvarchar](150) NULL,
	[MATERIALES019] [nvarchar](150) NULL,
	[CANT_AD019] [int] NULL,
	[FOTO1_019] [nvarchar](150) NULL,
	[FOTO2_019] [nvarchar](150) NULL,
	[PROCESO019] [nvarchar](100) NULL,
	[ACCIONSISA019] [nvarchar](2) NULL,
 CONSTRAINT [PK_Z019_ERROR_SISA_GENERICO] PRIMARY KEY CLUSTERED 
(
	[CCONT019] ASC,
	[POLIZA019] ASC,
	[TIPO_TRAB019] ASC,
	[NGNF019] ASC,
	[FE019] ASC,
	[FR019] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z020_INDICADORES]    Script Date: 10/12/2019 13:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z020_INDICADORES](
	[DNIOPE020] [nvarchar](10) NOT NULL,
	[DESCP020_1] [nvarchar](70) NOT NULL,
	[DESCP020_2] [nvarchar](70) NOT NULL,
	[VALORIND020] [nvarchar](50) NOT NULL,
	[FREFRESH020] [date] NOT NULL,
	[USRCARGA020] [nvarchar](50) NULL,
	[OBS020] [nvarchar](150) NULL,
	[COLOR020] [int] NULL,
 CONSTRAINT [PK_Z020_INDICADORES] PRIMARY KEY CLUSTERED 
(
	[DNIOPE020] ASC,
	[DESCP020_1] ASC,
	[DESCP020_2] ASC,
	[VALORIND020] ASC,
	[FREFRESH020] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[C900_TAREAS] ADD  CONSTRAINT [DF_C900_TAREAS_ORGTRAB900]  DEFAULT (N'O') FOR [ORGTRAB900]
GO
ALTER TABLE [dbo].[C900_TAREAS] ADD  CONSTRAINT [DF_C900_TAREAS_RECLAMO900]  DEFAULT ((0)) FOR [RECLAMO900]
GO
ALTER TABLE [dbo].[C900_TAREAS] ADD  CONSTRAINT [DF_C900_TAREAS_MATRI900]  DEFAULT (N'-') FOR [MATRI900]
GO
ALTER TABLE [dbo].[C900_TAREAS] ADD  CONSTRAINT [DF_C900_TAREAS_AVISOR900]  DEFAULT ((0)) FOR [AVISOR900]
GO
ALTER TABLE [dbo].[C901_UTILIZACION] ADD  CONSTRAINT [DF_C901_UTILIZACION_TPAPEL901]  DEFAULT ((0)) FOR [TPAPEL901]
GO
ALTER TABLE [dbo].[C901_UTILIZACION] ADD  CONSTRAINT [DF_C901_UTILIZACION_DOMINC901]  DEFAULT (N'NO') FOR [DOMINC901]
GO
ALTER TABLE [dbo].[C901_UTILIZACION] ADD  CONSTRAINT [DF_C901_UTILIZACION_MEDDIS901]  DEFAULT (N'NO') FOR [MEDDIS901]
GO
ALTER TABLE [dbo].[C902_OCOR] ADD  CONSTRAINT [DF_C902_OCOR_FOTO902]  DEFAULT ((0)) FOR [FOTO902]
GO
ALTER TABLE [dbo].[C903_CRC] ADD  CONSTRAINT [DF_C903_CRC_VMED903]  DEFAULT ((0)) FOR [VMED903]
GO
ALTER TABLE [dbo].[C903_CRC] ADD  CONSTRAINT [DF_C903_CRC_VPAP903]  DEFAULT ((0)) FOR [VPAP903]
GO
ALTER TABLE [dbo].[C903_CRC] ADD  CONSTRAINT [DF_C903_CRC_FOTO903]  DEFAULT ((0)) FOR [FOTO903]
GO
ALTER TABLE [dbo].[C904_ACOMETIDA] ADD  CONSTRAINT [DF_C904_ACOMETIDA_FOTO904]  DEFAULT ((0)) FOR [FOTO904]
GO
ALTER TABLE [dbo].[M002_OPERARIO] ADD  CONSTRAINT [DF_M002_OPERARIO_ACCWEB002]  DEFAULT ((0)) FOR [ACCWEB002]
GO
ALTER TABLE [dbo].[M004_MOTIVOS] ADD  CONSTRAINT [DF_M004_MOTIVOS_SEIMP004]  DEFAULT ((0)) FOR [SEIMP004]
GO
ALTER TABLE [dbo].[M005_COD_TAREA] ADD  CONSTRAINT [DF_M005_COD_TAREA_RMED005]  DEFAULT ((0)) FOR [RMED005]
GO
ALTER TABLE [dbo].[T104_PUNTO_OPERARIO_OT] ADD  CONSTRAINT [DF_T104_PUNTO_OPERARIO_OT_FOTO104]  DEFAULT ((0)) FOR [FOTO104]
GO
ALTER TABLE [dbo].[T147_VALIDACION] ADD  CONSTRAINT [DF_T147_VALIDACION_ANOMA147]  DEFAULT ((0)) FOR [ANOMA147]
GO
ALTER TABLE [dbo].[T147_VALIDACION] ADD  CONSTRAINT [DF_T147_VALIDACION_ADICIONAL147]  DEFAULT ((0)) FOR [ADICIONAL147]
GO
ALTER TABLE [dbo].[T147_VALIDACION] ADD  CONSTRAINT [DF_T147_VALIDACION_VPAPEL147]  DEFAULT ((0)) FOR [VPAPEL147]
GO
ALTER TABLE [dbo].[T147_VALIDACION] ADD  CONSTRAINT [DF_T147_VALIDACION_VMED147]  DEFAULT ((0)) FOR [VMED147]
GO
ALTER TABLE [dbo].[T147_VALIDACION] ADD  CONSTRAINT [DF_T147_VALIDACION_VEST147]  DEFAULT ((0)) FOR [VEST147]
GO
ALTER TABLE [dbo].[T147_VALIDACION] ADD  CONSTRAINT [DF_T147_VALIDACION_VCOD147]  DEFAULT ((0)) FOR [VCOD147]
GO
ALTER TABLE [dbo].[T147_VALIDACION] ADD  CONSTRAINT [DF_T147_VALIDACION_VFUGA147]  DEFAULT ((0)) FOR [VFUGA147]
GO
ALTER TABLE [dbo].[T147_VALIDACION] ADD  CONSTRAINT [DF_T147_VALIDACION_VNTAREA147]  DEFAULT ((0)) FOR [NTAREA147]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'INDICA SI REQUIERE FUGA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M004_MOTIVOS', @level2type=N'COLUMN',@level2name=N'FUGA004'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 COMUNICA - 1 CAMBIA ESTADO -2 CARGA EN OTRA BASE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M005_COD_TAREA', @level2type=N'COLUMN',@level2name=N'ACCION005'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 COMUNICA - 1 CAMBIA ESTADO -2 CARGA EN OTRA BASE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M006_TAREA_CRC', @level2type=N'COLUMN',@level2name=N'ACCION006'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 NO SE TOMO 1 SE TOMO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T109_RELEVAMIENTO_GENERAL', @level2type=N'COLUMN',@level2name=N'TOMAS109'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ALMACENEO LAS ORDENES DE TRABAJOS PERMITIDAS POR GAS NATURAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T128_OT_PARTIDO_GNF'
GO
